<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   <link rel="stylesheet" href="/css/home.css">
</head>
<body>
   <div class="box">
         <div class="box__itm">
            <div class="account">
               <a href="/new">Create new user</a>
            </div>
            <ul>
               <li><a href="#">age1</a></li>
               <li><a href="#">age2</a></li>
               <li><a href="#">age3</a></li>
            </ul>
      </div>
   </div>
   
</body>
</html>